body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(26, 21, 68);
    background: radial-gradient(circle, rgba(26, 21, 68, 1) 0%, rgba(31, 15, 50, 1) 11%, rgb(8, 43, 66) 64%, rgba(25, 6, 45, 1) 100%);
}

@font-face {
    font-family: 'Poppins';
    src: url('../masterLayout/FontsFree-Net-Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    /* Trọng số SemiBold tương ứng */
    font-style: normal;
}

*,
a {
    font-family: 'Poppins', sans-serif;
    color: #C3C8D4;
    text-decoration: none;
}


.form .fa-search {

    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}


.form-input {
    color: #d1d5db;
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
    background: none;    
}

.form-input:focus {

    box-shadow: none;
    border: none;
}

.option.col-md-5.mt-5.d-flex.justify-content-between.p-2 {
    background: #0000002b;
    border-radius: 10px;
}

.option.p-4.pt-2.pb-2.active {
    background: #7B6EF6;
    border-radius: 10px;
}

.form-input::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #C3C8D4;
    text-decoration: none;
    font-size: 14px;
  }

  .item-movies {
    height: 250px;
    width: 100%;
  }

  .row.d-flex.justify-content-center.p-3 {
    position: sticky;
    top: 0;
    background: rgb(26, 21, 68);
    background: radial-gradient(circle, rgba(26, 21, 68, 1) 0%, rgb(8, 42, 65) 90%, rgba(25, 6, 45, 1) 100%);
  }